

.player {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #ffffff;
    margin: 20px;
    width: 280px;
    height: 350px;
    border-radius: 5px;
    box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.2);
}

.player .percent {
    position: relative;
}

.player svg {
    position: relative;
    width: 210px;
    height: 210px;
    transform: rotate(-90deg);
}

.player svg circle {
    width: 100%;
    height: 100%;
    fill: none;
    stroke: #f0f0f0;
    stroke-width: 10;
    stroke-linecap: round;
}

.player svg circle:last-of-type {
    stroke-dasharray: 625px;
    stroke-dashoffset: calc(625px - (625px * var(--percent)) / 100);
    stroke: #3498db;
}

.player .number {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.player .number h3 {
    font-weight: 200;
    font-size: 3.5rem;
}

.player .number h3 span {
    font-size: 2rem;
}

.player .title h2 {
    margin: 25px 0 0;
}
